<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/" method="post">
          <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
          <input type="submit" class="ghost-button" value="Show data">
        </form>
        <% if(weather !== null){ %>
          <p><%= weather %></p>
        <% } %>

        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>

        <% if(long !== null && lat !== null){ %>
          <div id='map' style='width: 535px; height: 300px;'></div>
        <% } else { %>
          <div id='map' style='width: 0px; height: 0px;'></div>
        <% } %>
      </fieldset>
    </div>
    <script>
      mapboxgl.accessToken = '<%= process.env.API_KEY_MAP %>' || 'NC';
      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
        center: ['<%= long %>', '<%= lat %>'], // starting position [lng, lat]
        zoom: 9 // starting zoom
      });
    </script>
  </body>
</html>

